/* 리셋연결 */
@import url("reset.css");

/* common */
body {
    font-size: 12px;
    font-family: Dotum, "돋움", sans-serif;
    color: #777;
    background: url(../images/bg.gif) repeat-x 0 25px;
    padding-top: 50px;
    
}

a {
    text-decoration: none;
    color: #777;
}

a:hover {
    text-decoration: underline;
}
/* layout */
#wrap {}
#header {width: 1280px;margin: 0 auto;}
    h1.logo {}
        .gnb {}
#header:after {content: ""; display: block; clear: both;}
#container {width: 1280px; padding-top: 50px; margin: 0 auto;}
    div.content1 {float: left; width: 700px; border: 1px solid red;}
    div.content2 {float: left; width: 528px; border: 1px solid red;}
    .site_all {}
        .site_inner {}
#footer {width: 1280px; margin: 0 auto; border: 1px solid blue;}
/* header */

/* 로고 */
h1.logo {float: left;}
/* 통합검색 */
.tsearch {float: left; padding-left: 40px; padding-top: 15px;}
input[type="search"] {margin-bottom: 9px;}
input[type="image"] {margin-bottom: 9px;}
/* 탑메뉴 */
.topMenu {float: right}
.topMenu dd {float: left; margin-left: 15px;}

/* 주메뉴 */
.gnb_all {}
.gnb {clear: both; position: relative;}
.gnb>li {float: left;  margin-right: 25px;}
.gnb>li:last-child {margin-right: 0;}
.gnb li ul {position: absolute; top: 43px; display: none;}
.gnb li ul li {float: left; margin-left: 15px; font-weight: bold;}
.gnb li:first-child ul {}
.gnb li:nth-child(2) ul {left: 0;}
.gnb li:nth-child(3) ul {left: 230px;}
.gnb li:nth-child(4) ul {left: 350px;}
.gnb li:nth-child(5) ul {left: 390px;}
.gnb li:nth-child(6) ul {left: 460px;}
.gnb li:last-child ul {left: 460px;}

/* containter */
/* content1 */
.content1 img {margin-bottom: 35px;}
/* 로그인 */
.login {float: left; width: 230px;  margin-top: 15px;}
/* 로그인왼쪽정렬묶음(ID,PW) */
div.login_left {width: 170px; margin-top: 15px; float: left;}
/* ID, PASS 이미지 */
div.login_left img:first-child {margin-bottom: 10px;}
div.login_left img:last-child {}
/* 입력창 */
div.login_left input {width: 130px;}
/* 로그인버튼 */
.login input[type="image"] {float: right; margin-top: 15px;}
/* 아이디저장, 보안접속 */
.login_checkbox {clear: both; padding-left:0px;}
/* 아이디/비밀번호 찾기, 신규회원가입 */
.login_find{padding-left: 0px; padding-top: 10px;}
/* 통합검색 */


/* 공지사항 */


dl.tab_noti { margin-top: 15px; margin-left: 10px; float: left; position: relative; width: 381px; height: 125px;
   }
dl.tab_noti dt {float: left;}
dl.tab_noti dd { position: absolute; top: 35px; left: 0; width: 381px;}
dl.tab_noti dd ul  {width: 400px;}
dl.tab_noti dd ul li {line-height: 170%;}
dl.tab_noti dd ul li span {color: olive; font-size: 11px;padding: 0 15px; float: right;}
dl.tab_noti dd p.more {position: absolute; top: -27px; right: 0;}

/* 의정활동갤러리 */
