@import url(reset.css);
/* main.css */

/* common */
body{font-size: 13px;font-family: "Times New Roman",serif;color: #484848;line-height: 1;
	height: 100%;background: url(../images/bg-main.gif) repeat 0 0;}

/* 웹폰트 */
@font-face{font-family:Acknowledgement;
			src: url(../fonts/Acknowledgement-webfont.ttf);
			src: url(../fonts/Acknowledgement-webfont.woff);}

@font-face{font-family:League_Gothic;
			src: url(../fonts/League_Gothic-webfont.ttf);
			src:url(../fonts/League_Gothic-webfont.woff);}

/* layout */
#wrap{width: 758px;margin: 6px auto;border-top: 1px solid #8e8e8e;
	background: url(../images/bg-texture.png) no-repeat 50% 0;}
	#wrap > header{position: relative; border-top: 1px solid #8e8e8e;margin: 1px auto;
					border-bottom: 1px solid #8e8e8e;padding-top:8px;text-align: center;}
	#container{width: 758px;border-top: 1px solid #8e8e8e;padding: 15px 0;}
	#container:after{content: "";display: block;clear: both;}
		/*  .content1{float: left;width: 375px;padding-right: 4px;}
			.content2{float: left;width: 130px;}
			.content3{float: left;width: 244px;padding-left: 4px;} */
	#container > div{float: left;}
	#container > div:first-of-type{width: 375px;padding-right: 4px;}
	#container > div:nth-of-type(2){width: 130px;}
	#container > div:last-of-type{width: 244px;padding-left: 4px;}	
	#wrap > footer{width: 758px;}

/* header */
#wrap > header h1{font-family: 'Times New Roman', serif;font-size: 60px;
					text-shadow: 1px 1px 0 #fff;}
#wrap > header a{text-decoration: none;color: #484848;}
#wrap > header h2{font-family:League_Gothic,sans-serif;font-size: 16px;
				line-height: 2;letter-spacing: 2px;text-transform: lowercase;}
header>nav{border-top: 3px double #8e8e8e;height: 28px;}
header>nav ul{width: 10.2em;margin: 0 auto;}
header>nav ul li{float: left;width: 5em;text-align: center;}
header>nav ul li a{display: block;line-height: 27px;}
#wrap > header>nav ul li a:hover{text-decoration: underline;}
header > p{position: absolute;bottom: 0;line-height: 25px;}
header > p:last-of-type{right: 0;}

/* container */
#container h2,footer>section h3{font-family:League_Gothic,sans-serif;line-height: 1;
								text-transform: uppercase;text-shadow: 1px 1px 0 #fff;
								font-size: 22px;margin: 0 0 8px;}
#container p,footer>section p{line-height: 1em;text-align: justify;padding: 0 0 13px;
								word-break: break-all;}

/* content1 */
video{margin-bottom: 12px;}
#container > div:first-of-type h2{font-size: 30px;letter-spacing: -1px;padding: 0 0 4px;}
.content1 article .text{column-count: 3;
						column-width: 9em; 
						column-gap: 10px;
						column-rule: 1px dotted #000;}

/* content2 */
.content2 article{border-left: 1px solid #979797;border-right: 1px solid #979797;
					padding: 0 4px;}
#container article header{padding: 0 0 10px;margin: 0 0 5px;
					background: url(../images/bg-subhead.gif) no-repeat 50% 100%;}
#container header h3{font-family: "Times New Roman",serif;font-size: 14px;font-weight: bold;
					text-align: center;background: url(../images/bg-header.gif) no-repeat 50% 0;
					padding: 7px 0 0;}
.content2 article figure:nth-of-type(2){text-align: center;line-height: 1;margin: 0 0 13px;}

/* content3 */
aside article{width: 236px;border: 1px solid #ccc;margin-bottom: 5px;}

/* 1 */
aside article:first-of-type h3{font-size: 36px;font-family:Acknowledgement,sans-serif;
								letter-spacing: 0.1em;margin: 0;text-align: center;}
aside article:first-of-type h3::first-letter{letter-spacing: -0.1em;}
aside p+a{position: relative; display: block;padding: 15px 0;background-color: #484848;
			color: #fff;text-decoration: none;text-align: center;font-size: 28px;
			font-family:Acknowledgement,sans-serif;border-radius: 25px;
			border: 5px double #fff;text-shadow: 3px 3px 1px rgba(0,0,0,0.5);
			box-shadow: 2px 5px 0 #484848;margin: 5px 5px 9px;}
aside p+a:hover{left:-2px;top:-5px; box-shadow: 4px 10px 0 #484848;}

/* 2 */
aside article:nth-of-type(2){background: url(../images/dukes.png) no-repeat 0 100%;}
aside article:nth-of-type(2) h3{font-family:Acknowledgement,sans-serif;font-size: 20px;
								line-height: 1;color: #999;
								padding: 0 30px 0 75px;margin: 0 0 15px;}
aside article:nth-of-type(2) h3 span{display: inline-block;
									font-size: 30px;color: #999;
									transition: all 0.5s ease-out 0s;}
aside article:nth-of-type(2) h3:hover span{color: #484848;
								transform: scale(1.5) rotate(10deg) translateX(40px);}
#container aside article:nth-of-type(2) p{font-size: 0.85em;padding: 5px 3px 0 75px;}

/* 3 */
aside article:nth-of-type(3){height: 170px;
	background: url(../images/bg-bike.png) no-repeat 50% 80%,
	linear-gradient(to bottom,rgba(0,0,0,0.4) 0,rgba(0,0,0,0) 37%,rgba(0,0,0,0) 83%,
	rgba(0,0,0,0.16) 92%,rgba(0,0,0,0) 98%);
	transition: background-position 1s linear 250ms;}
aside article:nth-of-type(3):hover{background-position: 150% 80%;}
aside article:nth-of-type(3) h3{font-size: 30px;text-align: center;letter-spacing: -1px;
								margin: 20px 5px;}
aside article:nth-of-type(3) h3 a{color: #484848;text-decoration: none;}

/* 4 */
aside article:last-of-type{height: 140px;text-align: center;}
aside article:last-of-type h3{font-size: 23px;}
input[type="button"]{font-size: 28px;padding: 10px 30px;border: none;
					border-radius: 5px;margin: 10px auto;color: #fff;
					background:radial-gradient(circle at center,#909090 0%,#484848 50%);}

.content3 article .text{column-count: 2;column-gap: 10px;}
/* 속성선택자 input[type]{} */ /* radial 모양 circle,ellipse 기본값 */

/* footer */
footer > section{width: 738px;padding: 10px 20px 0 0;background-color: #d1d1d1;
				border-top: 1px solid #888;border-bottom: 1px solid #888;}
footer > section:after{content: "";display: block;clear: both;}
footer > section > section{float: left;width: 226px;padding-left: 20px;}
address{height: 30px;width: 100%;}
address > small{float: left;padding-left: 7px;font-size: 85%;line-height: 32px;
	font-family:League_Gothic,sans-serif;text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	letter-spacing: 0.08em;text-transform: uppercase;}
address > a{float: right;padding-top: 5px;}