/* 리셋연결 */
@import url("../css/reset.css");

/* common */
body {
    font-size: 12px;
    font-family: Dotum, "돋움", sans-serif;
    color: #777;
    text-align: center;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover {
    text-decoration: underline
}
/* layout */
#wrap {width: 100%; background: url(../images/bg_body.gif) repeat-x 0 0; text-align: left;}
    #header {position: relative; width: 980px; height: 93px; margin: 0 auto;}
    #container {position: relative; width: 980px; margin: 0 auto; border: 1px solid green;}
    #container:after {content: ""; display: block; clear: both;}
        .mainFlash {float: left; width: 480px; height: 510px; border: 1px solid yellow;}
        #content {float: left; width: 381px; border: 1px solid yellow;}
        #quick {position: absolute; right: 40px;}
    #footer {width: 100%; border-top: 1px solid olive;}
        .foot_inner {width: 980px; height: 109px; margin: 0 auto; border: 1px solid blue;}
/* header */
/* 로고 */
h1.logo {position: absolute; top: 0; left: 0;}
/* 탑메뉴 */
dl.topMenu {text-align: right;}
dl.topMenu dd, dl.topMenu dt.t {display: inline;}
/* 주메뉴 */
ul.gnb {position: relative; float: right; padding-left: 18px; background: url(../images/bg_lnb.gif) no-repeat 0 0;}
ul.gnb li {float: left;}
ul.gnb li ul {display: none; position: absolute; left: 0; top: 45px;}
ul.gnb li ul.menu1 {left: 0px;}
ul.gnb li ul.menu2 {left: 30px;}
ul.gnb li ul.menu3 {left: 100px;}
ul.gnb li ul.menu4 {left: 130px;}
ul.gnb li ul.menu5 {left: 340px;}
ul.gnb li ul.menu6 {left: 350px;}
ul.gnb li ul.menu7 {left: 330px;}
ul.gnb li ul.menu8 {left: 550px;}
ul.gnb li ul.menu9 {left: 390px;}

/* 

ul.gnb li:first-child ul {}
ul.gnb li:nth-child(2) ul {}
ul.gnb li:nth-child(3) ul {}
.
.
.
ul.gnb li:nth-child(7) ul {}
ul.gnb li:nth-child(8) ul {}
ul.gnb li:last-child ul {}

*/

ul.gnb li ul li {padding-right: 10px;}
ul.gnb li ul li a {color: #816d15;}


/* containter */
/* content */
/* 통합검색 */
form.tsearch {width: 371px; height: 32px; margin: 15px 0; text-align: right;
            padding-right: 10px; padding-top: 5px;
             background: url(../images/bg_mainsearch.gif) no-repeat 0 0;}

/*.input_txt,*/ input[type="search"] {width: 230px; height: 22px; border: 1px solid #98a948;

border-right: none;
}

/* 공지사항 */
dl.tab_noti {position: relative; width: 381px; height: 125px;
            background: url(../images/bg_mboard_cate.gif) repeat-x 0 0;}
dl.tab_noti dt {float: left;}
dl.tab_noti dd { position: absolute; top: 35px; left: 0; width: 381px;}
dl.tab_noti dd ul li {line-height: 170%;}
dl.tab_noti dd ul li span {color: olive; font-size: 11px;padding: 0 15px;}
dl.tab_noti dd p.more {position: absolute; top: -27px; right: 0;}

/* 의정활동갤러리 */
div.gallery {}
div.gallery h3 {width: 381px; height: 33px;
    background: url(../images/bg_gbox_tp.gif) no-repeat 0 0;}
div.gallery ul {}
div.gallery p.more {}
/* 배너 */